{
  "presets": [
    ["@babel/preset-env",{
      "targets": {
        "node": "current"
      }
    }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": true,
        "labelFormat": "[filename]__[local]",
        "cssPropOptimization": true
      }
    ]
  ]
}
